<!-- <div class="search">
    <mat-form-field class="search-width">
        <mat-label>Search your Binge</mat-label>
        <input type="text"  placeholder="search by Movie name"/>
    </mat-form-field>
    <button mat-mini-fab (click)="search()" color="gray">
    <mat-icon>search</mat-icon>
</button>
</div> -->
<!-- search.component.html -->



<!-- <div class="search-container">
  <div class="search">
    <input type="text" placeholder="Search by Movie name" [(ngModel)]="searchTerm" />
    <button mat-mini-fab (click)="onSearch()" color="white">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>



   -->
