.forgot-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed for your layout */
  }
  
  .mat-card {
    width: 300px; /* Adjust width as needed */
  }
  
  .title {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  button {
    margin-top: 10px; /* Adjust spacing between input and button */
  }
  