
/* Add these styles to your component's CSS file (e.g., reset-password.component.css) */

h2 {
    text-align: center;
  }
  
  .reset-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the form is centered vertically on the page */
  }
  
  .mat-card {
    width: 300px; /* Adjust the width as needed */
  }
  
  .title {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
  }
  