

<div id="carouselExampleDark" class="carousel carousel-dark slide">
 
    <div class="carousel-indicators" *ngFor="let movie of movies">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/Pictures/avatar.jpg"style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">First slide label</h5>
          <p style="color: white;">Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/Pictures/RRR-still.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Second slide label</h5>
          <p style="color: white;">Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/Image20231220122829.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/salaar.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/brave.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/marvel.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/inception.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../assets/Pictures/Pathaan.jpg" style="height: 395px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Third slide label</h5>
          <p style="color: white;">Some representative placeholder content for the third slide.</p>
        </div>
        <!-- <div class="carousel-item"  data-bs-interval="2000">
          <img src="../../assets/Pictures/" style="height: 395px;" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: white;">Third slide label</h5>
            <p style="color: white;">Some representative placeholder content for the third slide.</p>
          </div>
        </div> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  